@import url("http://fonts.googleapis.com/css?family=Oswald");

/*SETUP*/


/*SECTION DATA BOXES*/

.section {
  position: relative;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-top:1px solid #fff;
  background-color:#e7e7e7;
}

.text {
  width: 50%;
  padding: 10px 50px;
  border-radius: 5px;
  background: rgba(200,200,200, .7);
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

#section1 .text {
  margin-left: auto;
  margin-right: auto;
}

#section2 .text {
  margin-left: 0;
  margin-right: auto;
}

#section3 .text {
  margin-left: auto;
  margin-right: 0;
}

.footer {
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {}
#title video{position:absolute; left:0; top:0; width:100%; height:100%; object-fit:cover;}
#title .main_tit{position:absolute; top:50%; font-size:50px; line-height:50px; margin-top:-25px; left:0; width:100%; text-align:center; color:#fff}

#section1 {
  z-index: 1;
  margin-top:65px;
}
#section1 .main_content{text-align:center;}

#section2 {z-index:2;}

#section3 {
  z-index: 1;
}

#section4 { background: #111; min-height:30%;}

#header{
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 17px;
    transition :all 0.5s;
	z-index:999;
	background-color:#000;
}
#header.change{
	background-color:rgba(0,0,0,0.6);
    height :50px;
    transition :all 0.5s;
}
#header.change .inner{height:50px; transition :all 0.5s;}
#header.change .gnb > li{line-height:50px; transition :all 0.5s; padding:0 15px;}
#header.change .login_area{height:0; overflow:hidden; transition :all 0.5s;}

#header .login_area{height:40px; width:1000px; margin:0 auto; transition :all 0.5s;}
#header .login_area ul{font-size:0; text-align:right;}
#header .login_area li{display:inline-block; vertical-align:middle; margin-left:15px;}
#header .login_area li a{font-size:12px; color:#fff; line-height:40px;}
#header .login_area li a:hover{text-decoration:underline;}

#header h1{position:absolute; top:-30px; left:50%; transform:translate(-50%, 0); width:140px; font-size:0;}
#header h1 a{display:block; width:100%;}
#header h1 a img{display:block; width:100%;}
#header.change h1{top:-9999px;}

#header .inner{position:relative; width:1000px; margin:0 auto; height:80px; transition :all 0.5s;}
#header .gnb{position:absolute; font-size:0; text-align:center; width:100%;}
#header .gnb > li{position:relative; display:inline-block; vertical-align:top; line-height:80px; transition :all 0.5s;}
#header .gnb > li > a{font-size:14px; color:#fff; padding:0 20px; display:block;}
#header .gnb.left{left:100px;}
#header .gnb.right{right:100px;}

#content{min-height:1000px; padding-top:120px;}
#content .inner{width:1200px; margin:30px auto 0;}
#content .inner .admin_menu{font-size:0; text-align:center;}
#content .inner .admin_menu li{display:inline-block; vertical-align:middle;border:1px solid #ccc; border-left:0px none; background-color:#fff;}
#content .inner .admin_menu li:first-child{border-left:1px solid #ccc;}
#content .inner .admin_menu li a{display:block; padding:10px 20px; font-size:14px;}
#content .inner .admin_menu li a:hover{background-color:#222; color:#fff;}

.section .main_content{width:1000px; margin:0 auto;}

#header .sub_bg{display:none; position:absolute; top:120px; left:0; width:100%; height:300px; background-color:rgba(255,255,255,0.7); z-index:3}
#header.change .sub_bg{top:50px;}

#header .gnb .sub_menu{display:none; position:absolute; top:79px; left:20px; width:135px; z-index:4; text-align:left; padding-top:15px;}
#header .gnb .sub_menu li{line-height:28px; margin-top:1px;}
#header .gnb .sub_menu li a{display:block; font-size:13px; color:#222;}

#header .gnb .sub_menu.sub1{left:20px;}